Source: ros-kinetic-computer-status-msgs
Section: misc
Priority: optional
Maintainer: Isaac I.Y. Saito <130s@2000.jukuin.keio.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: http://ros.org/wiki/computer_status_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-computer-status-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: Messages definitions for representing computer's hardware state, such as battery information, GPU, some miscellaneous sensors.
 Format is in ROS. Originally developed at pr2_common repository
